* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(red, purple, blue);
    background-attachment: fixed;
}

/*.container {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    justify-content: center;
} */

.container h2, .title1 {
    display: flex;
    justify-content: center;
    
    
}

.dados , .campo-resultado {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    background-color: white;
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,0%);
    justify-content: center;
}

input {
    width: 50px;
    height: 30px;
}

.box1 p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    font-size: 15px;
}

.box1 {
    padding-right: 10px;
}

.calcular {
    background-color: black;
    color: white;
    font-size: 15px;
    align-items: center;
    width: 150px;
    height: 35px;
    position: relative;
    left: -25%;
    border-radius: 5px;
}

